.bodySett {
    background-color: #000;
    color:#FFF;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}
.rightMenu{
    width:150px;
    text-align:center;
    vertical-align:top;
    padding:50px 50px 0px 0px;
}
.centrPanelAll{
    height:850px;
}
.centrPanelRP{
    font-size: 14px;
    vertical-align:middle;
    text-align:left;
    color:#72ccff;
}
a {color:#CCC; text-decoration: none;}
a:link {color: #CCC; }
a:visited {color: #b5e4fe;}
a:hover {color: #CCC;}
a:active {color: #FFF; }
.rootLink{
    font-size:6px;
}
.fotoFrame{
    width:640px;
}
.imageBorder{
    border:#787878 solid 1px;
}
.imageBorderF{
    border:#787878 solid 2px;
}
.imageBorder2{       
    margin: 2px;
}

.panelSlideIm{
    position:absolute;
    left:0;top:0;
    z-index:3;   
}
.opas{
    filter:alpha(opacity=30); opacity: 0.35;
}