.arrowTree{cursor:pointer;}
.closeNode{display:none;}
.checkedView{}
.expander{cursor:pointer;}
.imageLine{height:100%;}
.isLeaf{display:none;}
.imageArrow{cursor:pointer;}
.imageNode{cursor:pointer;}
.hideChild{display:none;}
.hideExpander{display:none;}
.nodeTree{}
.nView{font-size:small; white-space:nowrap;}
.placeEl{padding-left:5px;}
.selectedNode{border:darkgray dashed 1px;}
.isSelected{background-color:burlywood; }
.treeRoot{}
.noTextSelect{-moz-user-select:-moz-none;-o-user-select:none;-khtml-user-select:none;-webkit-user-select:none;user-select:none;}